.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: #000;
    -fx-text-fill: #ffac41;
    -jfx-focus-color: #ffac41;
    -jfx-unfocus-color: #000;
    -fx-font: 20px "Arial";
}
.combo-box .list-cell 
{
    -fx-background: #323232;
    -fx-background-color: transparent;
    -fx-padding: 3 0 2 7;
    -fx-text-fill: #ffac41;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: #323232, #323232;
    /*-fx-background-insets: 0, 1;*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    /*No alternate highlighting*/ 
    -fx-background-color: white;
}
.combo-box-popup .list-view .list-cell{
    -fx-background-color: #323232;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: #323232;
    -fx-background-color: #323232;
    -fx-text-fill: #ffac41;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #ffac41;
    -fx-text-fill: #323232;
}

/*.combo-box-base  
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}*/

.combo-box-base:hover
{
    -fx-color: #323232;
}

.combo-box-base:showing 
{
    -fx-color: #323232;
}

.combo-box-base:focused {
    -fx-background-color: #323232, #323232, #323232, #323232;
    /*    -fx-background-radius: 6.4, 4, 5, 3;*/
    /*-fx-background-insets: -1.4, 0, 1, 2;*/
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}